.float#messages {
    height: 360px;
    height: calc(100vh - 100px);
    
}

.cntner0.msgs-cntner {
    flex-direction: column;
    flex-grow: 1;
}

.unfloat.float#messages {
    width: 100%;
    max-height: none;
    flex-grow: 1;
    left: 0;
    top: 0;
    position: relative;
    border-radius: 0;
    background-color: lime;
}

.float#messages {
    width: 30rem;
    top: auto;
    bottom: 0;
    right: 12px;
    position: fixed;
    border-radius: 8px 8px 0px 0px;
    border: 1px dashed black;
}

@media only screen and (min-width: 39rem) and (min-height: 25rem) {
    .unfloat.float#messages {
        border-radius: 8px 8px 0px 0px;
    }
}

@media only screen and (min-width: 50rem) and (min-height: 25rem) {
    .float#messages {
        width: 40rem;
    }
}

/* .float {
    display: none!important;
} */
