/* *********** GENERAL ************************************* */

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

:root {
    /* primary colors */
    --blue500: #5457b6;
    --blue200: #c3c4ef;
    
    --red500: #ed6468;
    --red200: #ffb8bb;

    --gray100: #eeeef6;
    --gray200: #e0e0f0;
    --gray300: #90959b;
    --gray400: #4d535a;
    --gray500: #333d4e;

}

body {
    background-color: var(--gray100);
    color: var(--gray400);
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /* font-size: max(1rem, 0.444vw + 0.6rem); fluid typography for large screens */
    --scalerem: calc((100vw - 375em/16) / (768/16 - 375/16));
    --scalerpx: calc((100vw - 375px) / (768 - 375));
    padding-bottom: 300px;
}

p {
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 150%;
}

main.post-box {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 48em;
}

/* ********* COMMENTS SECTION  ************************** */

.comments {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-box {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comments > .post-box {
    padding-left: 0px;
}

.post {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    border-radius: 8px;
    background-color: white;
}

.post:not(.form) {
    order: 1;
}

.post.form.create.cmmnt {
    order: 3;
}

.post.form.create.cmmnt.reply {
    order: 3;
    margin-left: 16px; /* change? */
}

.replies {
    order: 3;
    /* margin-left: 16px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 2px solid var(--gray200);
}

/* ********** COMMENT BOX  ************************** */

.post-headr, .post-footr {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a.avtr {
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 20rem;
    background-color: var(--red200);
}

a.avtr img {
    width: 100%;
}

span.usrnme-box {
    width: min-content;
    display: flex;
    gap: 6px;
}

a.usrnme {
    color: var(--gray500);
    font-weight: 500;
}

a.user-role {
    padding: 2px 6px;
    font-size: 0.8em;
    background-color: var(--blue500);
    color: white;
    border-radius: 2px;
}

a.user-role:active {
    background-color: var(--blue200);
}

a:is(.usrnme, .post-date):active {
    text-decoration: underline;
}

a.post-date {
    display: block;
}

span.votes {
    /* width: fit-content; don't erase yet. might need for vertical layout*/
    min-height: 32px;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--gray100);
    text-align: center;
    border-radius: 12px;
}

span.score {
    padding: 4px;
    display: block;
    color: var(--blue500);
    font-weight: 500;
}

button {
    font-size: 0.9rem;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.vote-btn {
    padding: 4px;
    display: block;
    line-height: 85%;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--blue200);
}

.vote-btn:active {
    color: var(--blue500);
}

.small-btn {
    width: fit-content; /* Should I delete this? Check in the modal*/
    display: block;
    font-weight: 500;
    color: var(--blue500);
}

.small-btn:active {
    color: var(--blue200);
}

.post:not(.form) :is(.big-btn, .small-btn.cncl, textarea) {
    display: none;
}

.small-btn i {
    font-size: 0.8rem;
    margin-right: 6px;
}

/* ********** COMMENT FORM  ***************************** */

.post.form textarea {
    width: 100%;
    min-height: 6em;
    padding: 12px;
    background-color: white;
    resize: vertical;
    font-size: 1em;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border-radius: inherit;
    border: 1px solid var(--gray200);
}

.post.form textarea:is(:focus, :hover) {
    outline: 1px solid var(--blue500);
}

.big-btn {
    min-width: 72px;
    padding: 12px;
    background-color: var(--blue500);
    color: white;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
}

.post.form.create .post-footr {
    justify-content: space-between;
}

.big-btn:active {
    background-color: var(--blue200);
}

/* ************ UPDATE COMMENT FORM *********************** */

.post.form.updt .post-main {
    display: none;
}

.post.form.updt :is(span.votes, .small-btn:is(.reply, .more)) {
    display: none;
}

.post.form.updt .post-footr {
    justify-content: flex-end;
}

@media only screen and (min-width: 30rem) {
    .replies {
        margin-left: 16px;
    }
}

/* ************** FOR 768px UP ********************************************* */

@media only screen and (min-width: 48em) {

    /* ************ COMMENT BOX ********************* */

    .post {
        grid-template-columns: auto 2em auto 1fr auto auto;
    }

    a.avtr {
        grid-column: 2;
    }

    span.usrnme-box {
        grid-column: 3;
    }

    a.post-date {
        grid-column: 4 / -1;
    }
    
    .post-main {
        grid-column: 2 / -1;
    }
    
    span.votes {
        padding: 4px 0;
        margin-right: 8px;
        flex-direction: column;
        min-width: 40px;
        grid-column: 1;
        grid-row: 1 / 3;
        align-self: start;
    }
    
    .small-btn:is(.del, .reply, .edit) {
        grid-row: 1;
    }

    /* ************ COMMENT FORM ************* */

    .post.form.create {
        display: flex;
        gap: 16px;
        align-items: flex-start;
    }

    .post.form.create textarea {
        flex: 1 0 400px;
        order: 2;
    }

    .post.form.create a.avtr {
        order: 1;
        margin-top: 4px;
    }

    .post.form.create .big-btn {
        order: 3;
    }

    /* ************ UPDATE COMMENT FORM ******************* */

    .post.form.updt .small-btn:is(.del, .edit) {
        display: block;
    }
        
    .post.form.updt textarea {
        grid-column: 2 / -1;
    }

}

@media only screen and (min-width: 62em) {
    .big-btn:hover {
        background-color: var(--blue200);
    }
    
    a:is(.usrnme, .post-date):hover {
        text-decoration: underline;
    }

    a.user-role:hover {
        background-color: var(--blue200);
    }

    .vote-btn:hover {
        color: var(--blue500);
    }

    .small-btn:hover {
        color: var(--blue200);
    }

    .small-btn.del:hover {
        color: var(--red200);
    }

    .modal.del .big-btn.no:hover{
        background-color: var(--gray300);
    }
    
    .modal.del .big-btn.yes:hover{
        background-color: var(--red200);
    }
}

/* ************ MODAL ******************** */

.modal-bg {
    width: 100%;
    height: 100vh;
    padding: 16px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.modal {
    max-width: 25rem;
    margin: 0 auto;
    padding: 24px;
    padding: clamp(24px, 24px + var(--scalerpx)*8, 32px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0px;
    column-gap: 12px;
    border-radius: 8px;
    background-color: white;
}

h3 {
    margin-bottom: 1em;
    font-size: 1.4rem;
    font-size: clamp(1.3rem, 1.3rem + var(--scalerem)*0.2, 1.5rem);
    font-weight: 700;
    color: var(--gray500);
}

.modal h3 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.modal p {
    margin-bottom: clamp(20px, 20px + var(--scalerpx)*4, 24px);
    grid-column: 1 / -1;
    grid-row: 2;
}

.modal .big-btn {
    width: 100%;
    padding: 16px;
    grid-row: 3;
}

.modal.del .big-btn.no{
    grid-column: 1;
    background-color: var(--gray400);
}

.modal.del .big-btn.no:active{
    background-color: var(--gray300);
}

.modal.del .big-btn.yes{
    grid-column: 2;
    background-color: var(--red500);
}

.modal.del .big-btn.yes:active{
    background-color: var(--red200);
}

/* ********** EXTRAS ******************* */
header {
    color: var(--blue500);
    height: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

select {
    font-size: 1em;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: var(--gray500);
    /* border: 0.1px solid transparent; */
    border: 1px solid var(--gray500);
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: underline; }

/* delete later */
#c2 {
    display: none;
}