/* ********** HEADER ******************* */
.headr-cntner {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 1000000;
    margin-bottom: 12px;
    background-color: white;
    border-bottom: 1px solid var(--gray200);
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

@media only screen and (min-width: 39rem) {
    header {
        padding: 12px 0;
    }
    
}

nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.big-btn.light-btn {
    min-height: 0px;
    min-width: 0px;
    height: 40px;
    width: 40px;
    padding: 8px;
    background-color: white;
    border: 1px solid var(--gray200);
}

.light-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0%;
}

.light-btn svg path {
    fill: var(--blue500);
}

nav .avtr#current-user-avtr {
    display: none;
}

@media only screen and (min-width: 25rem) {
    nav .avtr#current-user-avtr {
        display: flex;
    }
}

.srch-form {
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.srch-form input {
    font-size: 0.9rem;
    min-height: 40px;
    display: none;
    padding: 0 8px;
    resize: none;
    border: 1px solid var(--gray200);
}

.srch-form .small-btn.light-btn {
    /* background-color: orange; */
    /* width: 24px;
    height: 24px; */
    position: absolute;
    /* padding: 4px; */
    right: 8px;
    /* line-height: 0%;
    border: 1px solid var(--gray200);
    border-radius: 8px; */
}

.float-cntner .small-btn.light-btn {
    width: 24px;
    height: 24px;
    padding: 4px;
    line-height: 0%;
    border: 1px solid var(--gray200);
    border-radius: 8px;
}

@media only screen and (min-width: 39rem) {
    .srch-form {
        width: 15rem;
    }

    .srch-form input {
        width: 100%;
        display: block;
    }

    .srch-form .big-btn.light-btn {
        display: none;
    }

}

.unfloat.float .srch-form input {
    width: 100%;
    display: block;
}

.unfloat.float .srch-form {
    width: 100%;
}

.unfloat.float {
    border-radius: 0;
    max-height: none;
}

@media only screen and (min-width: 39rem) {
    .unfloat.float {
        border-radius: 8px;
    }
}

/* **************** FLOATS ************************ */

.float {
    display: none;
    padding: 8px;
    background-color: white;
    border: 1px solid var(--gray200);
    /* background-color: aqua; */
}

.unfloat.float {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.float li {
    list-style: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 12px;
}

.float li button {
    margin-left: auto;
}

.float h4 {
    padding: 8px 12px;
}

.float li a {
    color: var(--gray400);
    display: block;
}

.float li a.more {
    text-align: center;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--blue500);
}

li.user {
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.float {
    /* display: block; */
    position: absolute;
    top: 58px;
    max-height: 360px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    width: 360px;
    padding: 8px;
    border-radius: 8px;
}

.float#search {
    left: 0;
}

.float:is(#options, #notifs) {
    right: 0;
}

.unfloat.float#search .srch-form {
    margin-bottom: 8px;
}

/* ************** ACTIVE STATES ******************* */


.srch-form input:is(:focus, :hover) {
    outline: 1px solid var(--blue500);
}

.float li:is(:focus, :hover) {
    background-color: var(--gray100);
}
.light-btn:is(.big-btn, .small-btn):is(:focus, :hover) {
    /* color: var(--blue500); */
    outline: 1px solid var(--blue500);
}

/* .headr-btn:focus {
    outline: 1px solid var(--blue500);
} */