/* ************ MODAL ******************** */


.modal-bg {
    width: 100%;
    height: 100vh;
    padding: 16px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 3;
}

.modal {
    max-width: 25rem;
    margin: 0 auto;
    padding: 24px;
    padding: clamp(24px, 24px + var(--scalerpx)*8, 32px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0px;
    column-gap: 12px;
    border-radius: 8px;
    background-color: white;
}



.modal h3 {
    margin-bottom: 1em;
    grid-column: 1 / -1;
    grid-row: 1;
}

.modal p {
    margin-bottom: clamp(20px, 20px + var(--scalerpx)*4, 24px);
    grid-column: 1 / -1;
    grid-row: 2;
}

.modal .big-btn {
    width: 100%;
    padding: 16px;
    grid-row: 3;
}

.modal.del .big-btn.no{
    grid-column: 1;
    background-color: var(--gray400);
}

.modal.del .big-btn.yes{
    grid-column: 2;
    background-color: var(--red500);
}

.modal.del .big-btn.no:is(:focus, :hover){
    background-color: var(--gray300);
}

.modal.del .big-btn.yes:is(:focus, :hover){
    background-color: var(--red200);
}
